body {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}
body {
	background: $background_color;
	color: $txt_color;
	margin: 0;
	padding: 0;

	.waxelclaim-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;

		height: 60px;
		background: $background_color_darker;
		padding: 0 $margin-small;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;

		.header-logo,
		.header-account > div,
		.header-nav ul {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}

		.header-nav ul {
			li {
				padding-right: $margin-small;
				a, a:hover, a:visited {
					color: $txt_color;
					font-size: 1.05em;
					text-decoration: none;
				}
				a:hover {
					text-decoration: underline;
				}
			}
			li:last-child {
				padding-right: 0;
			}
		}

		.header-account {
			padding: 0 $margin-small;

			display: grid;
			grid-template-columns: 1fr auto;
			grid-gap: $margin-xsmall;
		}
	}

	.waxelclaim-content {
		padding: calc($margin-small + 60px) $margin-small $margin-small;
	}

	.waxelbox {
		background: $background_color_darker;
		padding: $margin-small;
	}

}